<div *ngIf="loading">
    <mat-spinner
        color="primary"
        class="loading-spinner"
        [diameter]="180"
        matTooltip="Everything will be okay."
    ></mat-spinner>
</div>

<div *ngIf="!loading" class="table">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input
            matInput
            [value]="cacheService.currentFilter"
            (keyup)="applyFilter($event)"
            placeholder="Search for people..."
            #filter
        />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td
                mat-cell
                *matCellDef="let element"
                (click)="displayDetail(element)"
                class="name-column"
            >
                {{ element.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="birthYear">
            <th mat-header-cell *matHeaderCellDef>Birth Year</th>
            <td mat-cell *matCellDef="let element" class="year-column">{{ element.birth_year }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="row"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell">No data matching the filter</td>
        </tr>
    </table>
    <div class="paginator-wrap">
        <button
            class="nav-btn left"
            mat-raised-button
            (click)="loadPreviousPeople()"
            [disabled]="!hasPrevious"
        >
            Previous
        </button>
        <button
            class="nav-btn right"
            mat-raised-button
            (click)="loadNextPeople()"
            [disabled]="!hasNext"
        >
            Next
        </button>
    </div>
</div>
