<div class="logo">
    <img
        width="120"
        alt="Safetica Logo"
        src="https://media-exp1.licdn.com/dms/image/C4E0BAQH1Lh6-7O8LaA/company-logo_200_200/0/1519862862782?e=2159024400&v=beta&t=Ap6LK3GdhKkrr6zz311m8UgLO6ttMp3gdBD5dIZALOQ"
    />
</div>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>«« Made for <a href="https://www.safetica.cz/">Safetica</a> »»</p>
    </div>
</footer>
